{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 rounded-box speechbubble">
      <h1>speak<span class="buzzfeed-red">easy</span><i class="fa fa-phone animated shake"></i></h1>
      <a href="tel:1-415-231-2053"></a>
    </div>
  </div>

</div>

<div class="container" id="stories">
  <div class="row">
      
      {% for story in approved %}
        <div class="col-sm-6">
          <div class="rounded-story-box"> 
            
            <audio controls>
             <source src="{{ story.recording_url }}" type="audio/wav">
             Your browser does not support the audio element.
            </audio>

            <p><span class="timestamp">This question was submitted on <span  class="buzzfeed-red">Nov. 10, 2017</span>.</span></p>
          </div>
        </div>
      {% endfor %}

  </div>

</div>
{% endblock %}
