{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row" id="intro">
    <div class="col-sm-8 col-sm-offset-2 rounded-box speechbubble">
      <h1>What Will <span class="buzzfeed-red">Trump</span> Do?</h1>
    </div>

    <div class="col-sm-8 col-sm-offset-2 rounded-box" id="introtext">
      <p>Donald Trump made a whole lot of promises during his campaign. Not only is he now our President-elect, the GOP has a majority in the House and the Senate. We may have a lot of change ahead of us. There have been a lot of hot takes and reflection on this election's outcome, but a lot of us still have questions about what the next four years are going to look like, and just what a Trump administration can and can't do. What are you wondering about Trump's upcoming presidency and how it might affect our country?</p>
     
      <p>
        <b>Call us and tell us. </ br>
        <a href="tel:1-415-231-2053" class="buzzfeed-red">415-231-2053</span></a></b>
      </p>
      <a href="tel:1-415-231-2053"><i class="fa fa-phone animated shake"></i></a>

    </div>


  </div>
</div>
{% endblock %}

