{% extends 'base.html' %}

{% block content %}
<div class="row" id="intro">
  <div class="col-sm-8 col-sm-offset-2 rounded-box speechbubble">
    <h1 class="accent">speak<span class="accent2">easy</span><i class="fa fa-phone animated shake"></i></h1>
    <a href="tel:1-415-231-2053"></a>
  </div>

  <div class="col-sm-8 col-sm-offset-2" id="introtext">
    <div class="calltoaction">
      <h2>Is there something you've wanted to say about election 2016, <span class="accent">but haven't</span>?</h2>
      <p>
        <strong>Leave a message at </strong>
        <a href="tel:1-415-231-2053">415-231-2053</span></a>
      </p>
    </div>
    
    <p>There's no shortage of pundits on TV or opinionated Facebook friends. But, the most vocal people aren't the only ones we should pay attention to.</p>
    <p>This is a quiet place to share and listen. After you leave a message, <span class="accent">stay on the line to hear what someone else had to say</span>.</p>
   <br>


    <p class="caption">
      Your message may be shared with other callers or published on this site, but your phone number will be kept anonymous. Also, in case you're here to spread hate anonymously: messages will be moderated.
    </p>

    <p class="caption">
      Background photo by <a href="https://www.flickr.com/photos/glowbalcollection/4069468001">Larry Goldstein via Flickr</a>.
    </p>

  </div>


</div>
{% endblock %}

