{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row" id="intro">
    <div class="col-sm-8 col-sm-offset-2 rounded-box speechbubble">
      <h1>What Would <span class="buzzfeed-red">Trump</span> Do?</h1>
    </div>

    <div class="col-sm-8 col-sm-offset-2 rounded-box" id="introtext">
      <p>Donald Trump ran a campaign on change and with his party in charge of the House and the Senate we may have a lot fo change ahead of us. There have been a lot of hot takes and reflection on this election's outcome, but many people have simpler questions. What are you questions you have about Trump's upcoming presidency and how it affects our day-to-day lives?</p>
     
      <p>
        <b>Call us and tell us.</br>
        <a href="tel:1-415-231-2053" class="buzzfeed-red">415-231-2053</span></a>
      </p>
      <a href="tel:1-415-231-2053"><i class="fa fa-phone animated shake"></i></a>

    </div>


  </div>
</div>
{% endblock %}

