{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Recordings to review</h1>
      {% for story in review_queue %}
        <audio controls>
          <source src="{{ story.recording_url }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
        <a href="/approve/{{ story.id }}">Approve</a>
      {% endfor %}
      <h1>Approved recordings</h1>
      {% for story in approved %}
        <audio controls>
          <source src="{{ story.recording_url }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio> 
        <a href="/disapprove/{{ story.id }}">Disapprove</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
