DB_USER = 'root'
DB_PW = ''
DB_HOST = 'localhost'
DB_NAME = 'story_collector'

ADMIN_USER = 'admin'
ADMIN_PASS = 'something-secret' # change this!

APP_URL = 'https://my-speakeasy-url-here.com'

USE_FAKE_DATA = False # set this to True to use dummy data instead of db