body {
	font-size: 18px;
	background-color: #e93f33;
	color:#1a1918;
}

/* intropage styles*/

.rounded-box{
	color:#1a1918;
	background-color: #fff;
	margin-top: 50px;
	border-radius: 15px;
	padding:15px 20px;
	text-align:center;
	-webkit-box-shadow: 21px 18px 0px 0px rgba(166,36,36,1);
	-moz-box-shadow: 21px 18px 0px 0px rgba(166,36,36,1);
	box-shadow: 21px 18px 0px 0px rgba(166,36,36,1);
}

.speechbubble:after {
  content: "";
  position: absolute;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  bottom: -28px;
  left: 50px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}

.buzzfeed-red{
	color:#e93f33;
}

#intro h1{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	font-size: 2.8em;
	
}


i.fa.fa-phone.animated {
    color: #e93f33;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    border-radius: 25px;
    border: 2px solid #e93f33;
    font-size: 1.5em;
}

#introtext{
	padding:35px 25px;
}

@media (max-width: 600px){
	#intro h1{
		font-size: 2em;
	}

}

@media (max-width: 600px){
	#intro h1{
		font-size: 1.4em;
	}

}
