body {
	font-size: 18px;
	background-color: #e93f33;
	color:#1a1918;
}

/* intropage styles*/

.rounded-box{
	color:#1a1918;
	background-color: #fff;
	margin-top: 50px;
	border-radius: 15px;
	padding:15px 20px;
	text-align:center;
	-webkit-box-shadow: 21px 18px 0px 0px rgba(166,36,36,1);
	-moz-box-shadow: 21px 18px 0px 0px rgba(166,36,36,1);
	box-shadow: 21px 18px 0px 0px rgba(166,36,36,1);
}

.speechbubble:after {
  content: "";
  position: absolute;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  bottom: -28px;
  left: 50px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}

.buzzfeed-red{
	color:#e93f33;
  font-weight: bold;
}

.speechbubble h1{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	font-size: 2em;
	
}


i.fa.fa-phone.animated {
    color: #e93f33;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    border-radius: 25px;
    border: 2px solid #e93f33;
    font-size: 1.5em;
}

#introtext{
	padding:35px 25px;
}

@media (max-width: 600px){
	#intro h1{
		font-size: 2em;
	}

}

@media (max-width: 600px){
	#intro h1{
		font-size: 1.4em;
	}

}


/*audio player*/


.playa input[type="range"] {  
  background-color: #ddd;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  opacity: 0.5;
  height: 1em;
  top: 2px;
  position: relative;
}

.playa  .thumbnail  {
    width:100%;
}

/* sliders and buttons need a uniform height */
.playa .btn-group .btn {
    display:inline-block;
    float:none;
    height: 2.5em;
}

/*  contains the attribution link */
.playa .row:nth-child(4) { 
  overflow: hidden;
}



/* Acknowledgements:
To Glyphicons (http://glyphicons.com/) for the Halflings glyphs font */

/* .spin is used to rotate glyphicon glyphicon-refresh */
.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*user stories*/

#stories{
  margin-top: 50px
}

.timestamp{
  font-size: 0.75em;
  line-height: 1.2em;
  color: #565656;
}

.well{
  background-color: #fff;
}

.rounded-story-box{
  color: #1a1918;
  background-color: #fff;
  margin: 15px 0px 0px 0px;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: left;
  -webkit-box-shadow: 10px 15px 0px 0px rgba(166,36,36,1);
  -moz-box-shadow: 10 15px 0px 0px rgba(166,36,36,1);
  box-shadow: 10 15px 0px 0px rgba(166,36,36,1);
}

.container-fluid.playa {
    padding: 0px;
}

.btn-group.center-block {
    padding: 0px;
}

.playbutton-container,
.volume-up-container{
    padding-right: 20px;
    padding-left: 7px;
}

.btn-default {
    color: #ffffff;
    background-color: #e93f33;
    border-color: #e93f33;
}

.btn-default:hover{
  background-color:rgb(236, 109, 100);
  border-color: rgb(236, 109, 100);
}

@media (max-width:845px){
  .volume-up-container{
    border-radius: 3px
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

  }
  .playa .col-sm-12 {
       width: auto; 
  }
}